.selected_moves
  .header.clearfix
    .moves-label.left Moves:
    a.dex-link.right(href=pokemon.getPokedexUrl(), target='_blank')
      ="View " + pokemon.get('species') + " Movesets"

  .row-fluid
    .span3
      input(type="text", value=pokemon.get("moves")[0])
    .span3
      input(type="text", value=pokemon.get("moves")[1])
    .span3
      input(type="text", value=pokemon.get("moves")[2])
    .span3
      input(type="text", value=pokemon.get("moves")[3])

table.table.table-hover.table-moves
  thead
    tr
      th Name
      th Type
      th Cat.
      th Power
      th.acc Acc.
      th.pp PP
      th.description Description
  tbody
    each move in pokemon.getMovepool()
      tr(data-move-id=move.name, data-move-search-id=move.name.replace(/\s+|-/g, ""))
        td= move.name
        td
          img(src=window.TypeSprite(move.type), alt=move.type)
        td
          - var damageFriendly = move.damage[0].toUpperCase() + move.damage.substr(1)
          img(src=window.CategorySprite(move.damage), alt=damageFriendly)
        td= (move.power == 0) ? "-" : move.power
        td.acc= (move.accuracy == 0) ? "-" : move.accuracy + '%'
        td.pp= move.pp
        td.description= move.description
